# Paths
LOCAL_DATASET_PATH=./data/nyc_yellow_taxi.csv
HDFS_INPUT_PATH=/pfe/nyc_taxi/csv/
HDFS_OUTPUT_ROOT=/pfe/nyc_taxi/parquet/
RESULTS_DIR=./outputs

# Spark configuration
SPARK_APP_NAME="PFE Sujet 1 - Storage Architect - CSV vs Parquet"
SPARK_MASTER=spark://spark-master:7077
